<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.dao.MessageDao">
    <resultMap id="messageResultMap" type="com.nf.entity.MessageEntity">
        <id property="id" column="id"></id>
        <result property="userId" column="user_id"></result>
        <result property="content" column="content"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
    </resultMap>
    <select id="getPageHelper">
       select u.username,m.content,m.create_time from
        small_user u JOIN small_message m ON u.id = m.user_id order m.id
    </select>
</mapper>