<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.dao.MessageDao">
    <resultMap id="messageResultMap" type="com.nf.entity.MessageEntity">
        <id property="id" column="id"></id>
        <result property="userId" column="user_id"></result>
        <result property="content" column="content"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
    </resultMap>
    <select id="getPageHelper" resultMap="messageResultMap">
      select m.id,u.uid,u.username,m.content,m.create_time from small_user u JOIN
       small_message m ON u.uid = m.user_id
    </select>
    <select id="searchName" resultMap="messageResultMap">
        select m.id,u.uid,u.username,m.content,m.create_time from small_user u JOIN
        small_message m ON u.uid = m.user_id
        <if test="name != null">
            where u.username like '%' #{name} '%'
        </if>
        order by id
    </select>
    <insert id="mesInsert">
        insert into small_message(user_id, content, create_time, update_time)
         values (#{userId},#{content},now(),now())
    </insert>
    <delete id="mesDelete">
        delete from small_message where id = #{id}
    </delete>
</mapper>