<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.dao.UserDao">
    <resultMap id="userResultMap" type="com.nf.entity.UserEntity">
        <id property="id" column="id"></id>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
    </resultMap>
    <select id="getPageHelper" resultMap="userResultMap">
        select id, username,pwd,email,phone,question,answer,role,create_time,update_time
        from small_user
        order by id
    </select>
    <!--    登陆查询-->
    <select id="getByName" resultMap="userResultMap">
        select id, username,pwd,email,phone,question,answer,role,create_time,update_time
        from small_user where username = #{username}
    </select>
    <insert id="userInsert">
        INSERT INTO small_user(username,pwd,email,phone,question,answer,role,create_time,update_time)
        VALUES (#{username},#{pwd},#{email},#{phone}, #{question}, #{answer}, #{role},#{createTime}, #{updateTime});
    </insert>
    <delete id="userDelete">
        delete from small_user where id = #{id}
    </delete>
    <update id="userUpdate">

    </update>
</mapper>